<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tjoeun.mapper.UJMapper">
<!--  	================================================================= -->
<!-- 로그인 -->
	<!-- 로그인 -->
	<select id="login" resultType="String"
		parameterType="com.tjoeun.vo.UJVO">
		SELECT uid
		FROM ujuser
		WHERE uid = #{uid} AND pwd = #{pwd}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="forgot" resultType="String"
		parameterType="com.tjoeun.vo.UJVO">
		SELECT uid
		FROM ujuser
		WHERE uid = #{uid} AND email = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="com.tjoeun.vo.UJVO">
		INSERT INTO ujuser
		VALUES(#{uid},#{pwd},#{name},#{phone},#{address},#{root},#{email})
	</insert>
	
	<!-- 특정 아이디 찾기 -->
	<select id="getUserById" resultType="com.tjoeun.vo.UJVO"
		parameterType="String">
		SELECT uid, pwd, name, phone, address, root, email
		FROM ujuser
		WHERE uid = #{uid}  
	</select>

	<!-- 회원정보 수정 -->
	<update id="updateByMap" parameterType="map">
		UPDATE ujuser
		SET phone=#{phone},
		pwd = #{pwd}
		WHERE uid=#{uid}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM ujuser WHERE uid=#{uid}
	</delete>

<!--  	================================================================= -->
<!-- 게시판 -->
	<!-- 글쓰기 -->
	<insert id="addBoard" parameterType="com.tjoeun.vo.BoardVO"
		useGeneratedKeys="true" keyProperty="num">
		INSERT INTO ujboard VALUES(null, #{title},#{author},#{contents},NOW())
	</insert>
	
	<!-- 파일 업로드 -->
	<insert id="addFileInfo" parameterType="com.tjoeun.vo.AttachVO">
		INSERT INTO ujattach VALUES(null, #{board_num}, #{filename}, #{filesize})
	</insert>
	
	<!-- 게시판 리스트 -->
	<select id="boardList" resultType="map">
		SELECT * FROM ujboard b LEFT OUTER JOIN ujattach a
		ON b.num = a.board_num
	</select>
	
	<!-- 게시판 상세보기-->
	<select id="bdetail" resultType="map" parameterType="Integer">
		SELECT * FROM ujboard b
		LEFT OUTER JOIN ujattach a
		ON b.num=a.board_num
		WHERE
		b.num = #{num};
	</select>
	
	<!-- 특정 파일 불러오기 -->
	<select id="getFilename" parameterType="Integer"
		resultType="String">
		SELECT filename FROM ujattach WHERE att_num=#{num}
	</select>
	
	<!-- 특정 게시판 번호 불러오기 -->
	<select id="getBoardByNum" resultType="com.tjoeun.vo.BoardVO"
		parameterType="Integer">
		SELECT *
		FROM ujboard
		WHERE num = #{num} 
	</select>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.tjoeun.vo.BoardVO">
		UPDATE ujboard SET title=#{title},
		contents=#{contents}
		WHERE num=#{num}
	</update>

	<!-- 파일 삭제 -->
	<delete id="deleteFileInfo" parameterType="Integer">
		DELETE FROM ujattach WHERE att_num=#{num}
	</delete>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM ujboard WHERE num=#{num}
	</delete>

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM ujboard
	</select>

	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectBoard" resultType="com.tjoeun.vo.BoardVO">

		SELECT *
		FROM (

		SELECT @rownum:=@rownum+1 rn, A.*
		FROM (
		SELECT *
		FROM ujBOARD,
		(SELECT @ROWNUM:=0) t
		ORDER BY num DESC
		) A
		) B

		WHERE RN BETWEEN #{start} AND #{end}

	</select>

<!--  	================================================================= -->
<!-- 예약 -->
	<!-- 예약 -->
	<insert id="reservation" parameterType="com.tjoeun.vo.UJRVO"
		useGeneratedKeys="true" keyProperty="rnum">
		INSERT INTO ujrt VALUES(null,#{rinfo},#{rp},#{ruid},#{rtime})
	</insert>

	<!-- 날짜, 시간, 인원 -->
	<select id="reserList" resultType="com.tjoeun.vo.UJRVO"
		parameterType="String">
		SELECT rinfo, rtime, SUM(rp) AS total
		FROM ujrt
		Group BY rinfo, rtime
		ORDER BY rinfo DESC
	</select>

	<!-- 예약 총 리스트 -->
	<select id="rList" resultType="com.tjoeun.vo.UJRVO">
		SELECT * FROM ujrt
	</select>

	<!-- 특정 예약 -->
	<select id="getReser" resultType="com.tjoeun.vo.UJRVO"
		parameterType="String">
		SELECT *
		FROM ujrt
		WHERE ruid = #{ruid}
		ORDER BY rnum DESC
	</select>
	
	<!-- 예약 취소-->
	<delete id="rDeleted" parameterType="Integer">
		DELETE FROM ujrt WHERE rnum=#{rnum}
	</delete>


</mapper>